html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#navbar {
  background-image: url("homebg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  width: 100%;
  border-radius: 0 0 50% 50%;
  margin-bottom: 5%;
}
.navbar-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

#navbar h4 {
  color: white;
  font-size: 14pt;
  position: relative;
  left: 5%;
  bottom: 2%;
}

#navbar a:visited {
  color: white;
  text-decoration: none;
}
#navbar a:link {
  color: white;
  text-decoration: none;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  position: relative;
  align-items: center;
}

#navbar h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.barbecue {
  filter: brightness(50%);
}

.barbecue img {
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}

.pizza1 {
  position: relative;
  top: 5%;
  right: 29%;
  border-radius: 50%;
  background-color: white;
  height: 250px;
}

.sideimg {
  display: inline-flex;
  flex-direction: row;
  margin-right: 0%;
  padding-right: 0%;
  width: 35%;
}

#reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.quote {
  text-align: center;
}

.quote h2 {
  font-family: "Playfair Display", serif;
  font-size: 25pt;
}

.quote span {
  margin-left: 5%;
}

.quote p {
  color: #75797f;
  font-size: 13pt;
}

#right-img {
  position: relative;
  left: 25%;
}
